<!-- <

<router-outlet></router-outlet>
<div class="container">
  ...


<input [(ngModel)]="name" required>

<p>Value: {{ name }}</p>


<button (click)="setValue()">Set value</button>


without pipe {{birthday}}
<p>The hero's birthday is {{ birthday | date:"MM/dd/yy" }}</p>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>



 -->
 <app-home></app-home>