<body>
    <header class="header">
        <div class="container">
            <input type="checkbox" name="" id="check">
            
            <div class="logo-container">
                <svg class="header-logo"></svg>
                <!-- <img src="assets/images/logo/svg/logo2.svg" alt="logo" class="aikefi-logo" > -->
            </div>

            <div class="nav-btn">
                <div class="nav-links">
                    <ul>
                        <li class="nav-link" style="--i: .85s">
                            <a href="#">Product<i class="fa fa-angle-down fa-lg"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="#">Intelligent Data Processing</a>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: .85s">
                            <a href="#">USE CASES</a>
                        </li>
                        <li class="nav-link" style="--i: 1.1s">
                            <a href="#">RESOURCES<i class="fa fa-angle-down fa-3x"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="#">Blog</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Use Cases</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">eBooks</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">White Papers</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Media Library</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">FAQ</a>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: 1.35s">
                            <a href="#">ABOUT<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="#">Life at AIKefi</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">leadership team</a>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: 1.35s">
                            <a href="#">CAREERS<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="#">Life at AIKefi</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Careers blog</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">open positions</a>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: 1.35s">
                            <a href="#">CONTACT</a>
                        </li>
                        
                    </ul>
                </div>

                <!-- <div class="log-sign" style="--i: 1.8s">
                    <a href="#" class="btn transparent">Log in</a>
                    <a href="#" class="btn solid">Sign up</a>
                </div> -->
            </div>

            <div class="hamburger-menu-container">
                <div class="hamburger-menu">
                    <div></div>
                </div>
            </div>
        </div>
    </header>
    
    
</body>
