//  header color

$bigText:#20B2AA;
$smallText: #48D1CC;


// footer color
$footer-contact-hover:#444444;



// grids color


//carousel color


//contact us color
$icon:#015B85;
$background-hover:#EFF4F8;
$placeholder:#A9A9A9;
$button-background:#20B2AA;
$button-color:white;
$agile-text:#00527F;
$agile-text-1:#FD6CAE;
$card-price:#f18c70;
$card-price-hover:#e4461b ;
$button-text:black;
$button-background:#3eada8;
