img {
    width: 11%;
    position: absolute;
    margin-left: 3%;

  }
.all-data-position{
    text-align: center;
}
.way-to-lern{
    text-align: center;
    font-size: 5rem;
}
.our-present{
    background-color: green;
    font-size: 2rem;
}
.welcome-learning-plat{
    background-color: black;
    color: white;
    font-size: 2rem;
}
.live-class{
    border: 1px solid;
}
@media only screen and (max-width: 450px) {

    .way-to-lern { 
        font-size: 2.8em;
        margin-left: 19%;
    }
 
 }
 @media only screen and (max-width: 450px) {

    .our-present { 
       font-size: 1.3em; 
    }
 
 }
 @media only screen and (max-width: 450px) {

    .welcome-learning-plat{ 
       font-size: 1em; 
    }
 
 }
 @media only screen and (max-width: 450px) {

    .full-address{ 
       font-size: .6em; 
       margin-left: 20%;

    }
 
 }
 @media only screen and (max-width: 450px) {

    .email-id{ 
       font-size: .8em; 
       margin-left: 22%;

    }
 
 }
 @media only screen and (max-width: 450px) {

    img{ 
        margin-left: -1%;
    margin-top: 3%;
    width: 21%;

    }
 
 }


 .frame-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */  
    padding-top: 25px;
        width: 300%; /* enlarge beyond browser width */
    left: -100%; /* cente */
}

.frame-container iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}


.wrapper {
   overflow: hidden;
   max-width: 100%;
//pointer-events: none;
}

.blink_me {
   animation: blinker 2s linear infinite;
 }
 
 @keyframes blinker {
   50% {
     opacity: 0;
   }
 }