<div class="container-fluid">
  <img src="assets/orglogo1.jpg">
        <div class="all-data-position">
            <div class="way-to-lern">Way to Learn</div>
        <div class="full-address">
            At-Haludhbani, Parsudib, Jamshedpur, Jharkhand
        </div>
        <div class="email-id">E-mail id: waytolearnofficial@gmail.com</div>
        <div class="our-present">Our present step decide our future</div>
        <div class="welcome-learning-plat mt-2">Welcome to our online learning platform</div>
        <div class="live-class mt-2"> Live Classes
            <div class="wrapper">
                <div class="frame-container">          
             <iframe width="560" height="315" src="https://www.youtube.com/embed/j6pn1bkGP7o?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>
             </div>

        </div>
        </div>
    
</div>







 