@import "src/app/modules/dashboard/styles/style-config.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-footer{
    color: #FBFCFB;
}
.container-fluid{
    min-height: 50vh;
    
}

.list-unstyled > li> a{ 
    color: $smallText;
    
}
.list-unstyled > li> a:hover{
    color:  #444444 !important;
}

.footer-logo{
    margin-top: 20px;
    margin-left: -40px;
}

.footer-icons{
    margin-top: 30px;
    padding-top: 20px;
}
.foot-tag{
    color: $bigText;  
}
.icons-edit{
    font-size: 24px;
    border: 1px solid $smallText;
    border-radius: 50px;
    padding: 8px;
    color: $smallText;
    margin-left: 5px;
}
.icons-edit-1{
    font-size: 24px;
    border: 1px solid $smallText;
    border-radius: 50px;
    padding: 8px 11px;
    color: $smallText;
    margin-left: 5px; 
}

.foot-tag{
    margin-top: 20px;
    margin-left: -10px;
}
.footer-li-head{
    color: $bigText;
}
.footer-ul li{
    padding-top: 10px;
    color: red;
   
}
.footer-ul li a{
    text-decoration: none;
}
.footer-contact-inner{
    margin-top: 20px;
}
.contact-icon-edit{
    margin-top: 20px;
    margin-right: 10px;
    font-size: 20px;
}
.footer-contact-head{
    color: $bigText;
}
.footer-contact-icon a{
    text-decoration: none;
    color: $smallText;
}
.footer-contact-icon a:hover{
    color: $footer-contact-hover !important;
}
.footer-contact-icon{
    display: flex;
    flex-direction: column;
}

@media (max-width:980px){
    .footer-icons{
        margin-top: 20px;
        padding-top: 5px;
    }
    
}
@media (max-width:590px){
    .icons-edit{
        font-size: 20px;
        
    }
    .icons-edit-1{
        font-size: 20px;
        
    }
    .foot-tag{
        margin-top: 10px;
        margin-left: 0px;
        font-size: 14px;
    }
}