
    <div class="container-fluid  py-3  ">
        <div class="row ">
            <div class="col-lg-3 col-md-4 col-sm-6 text-center py-4">
                <div class="footer-logo">
                    <img src="assets/images/logo/svg/logo2.svg" alt="Responsive image" class="img-fluid logo-edit w-50">
                </div>
                <div class="footer-icons">
                    <a href="#"><i class="fa fa-facebook-f icons-edit-1" ></i></a>
                    <a href="#"><i class="fab fa-twitter icons-edit"></i></a>
                    <a href="#"><i class="fa fa-youtube icons-edit"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in icons-edit"></i></a>
                    <a href="#"><i class="fab fa-instagram icons-edit"></i></a>
                </div>
                <p class="foot-tag">One source.Many perspectives</p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6  py-4 ">
                <div class="col-inner text-center pt-4">
                    <p class="text-uppercase font-weight-bold footer-li-head">get started</p>
                    
                        <ul class="list-unstyled  footer-ul text-start">
                            <li><a href="#">How to Buy</a></li>
                            <!-- <li><a href="#">Trade Up</a></li> -->
                            <!-- <li><a href="#">Find a Reseller</a></li> -->
                        </ul>
                    
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6  py-4 ">
                <div class="col-inner text-center pt-4">
                    <p class="text-uppercase font-weight-bold footer-li-head">explore</p>
                    <ul class="list-unstyled  footer-ul">
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Solutions</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Get a Demo</a></li>
                        <li><a href="#">Resources</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6  py-4">
                <div class="col-inner text-center pt-4">
                    <p class="text-uppercase font-weight-bold footer-li-head">connect with us</p>
                    <ul class="list-unstyled  footer-ul">
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Support</a></li>
                        <!-- <li><a href="#">Partner Log-in</a></li> -->
                        <!-- <li><a href="#">Community</a></li> -->
                        <li><a href="#">Blogs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 py-4">
                <div class="footer-contact-inner text-center pt-1">
                    <p class="text-uppercase font-weight-bold footer-contact-head">contact information</p>
                    <div class="footer-contact-icon mb-3">
                        <a href="#"><i class="fas fa-phone-alt contact-icon-edit"></i>+91 7982577924</a>
                        <a href="#"><i class="fas fa-phone-alt contact-icon-edit"></i>+91 7978002900</a>
                        <a href="mailto:Info@aikefi.com"><i class="fas fa-envelope contact-icon-edit"></i>Info@aikefi.com</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    

